.EliminarItem{
  


    background-color: #0A1828;
    color:#EAFF6A;
    font-size: 1.2rem;
    border-radius: 7px;
    border: 1px solid #e0aa16;
    padding: 4px;
    margin: 5px;
    }

    .DetalleProducto{
        display: flex;
        flex-direction: column;
        align-items: flex-start;


    }
    .colorlinea{

      
        border: 1px solid #EAFF6A;
    }