.ContenedorCart{
    width: 400px;
    text-align: center;
    border: 1px solid black;
    margin: 4rem;

    margin-top: 8rem;

}

.terminarCompra{
    background-color: #EAFF6A;
    color: black;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1 black;
    padding: 10px,20px;
    margin: 10px;
    }

    .vaciarCarrito{
        background-color: #dd3851;
        color: black;
        font-size: 0.8rem;
        border-radius: 10px;
        border: 1 black;
        padding: 4px;
        margin: 10px;
        }
    