.ContenedorItem{

    text-align: center;
    border: 1px solid black;
    margin: 4rem;

    margin-top: 8rem;

}

.ContenedorItem img{

    text-align: center;
    border: 1px solid black;
    width: 350px;
    margin: 0rem;

}

.ContenedorItem h1{

    text-align: center;

    margin: 2rem;

}