.ContenedorItem{

    text-align: center;
    border: 1px solid black;
    margin: 4rem;

    margin-top: 8rem;

}

.ContenedorItem img{

    text-align: center;
    border: 1px solid black;
    width: 350px;
    margin: 0rem;

}

.ContenedorItem h1{

    text-align: center;

    margin: 3rem;

}

.terminarCompra{
    background-color: #EAFF6A;
    color: black;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 1 black;
    padding: 10px,20px;
    margin: 10px;
    }