.carProducto{

background-color: #222021;
border-radius: 13px;
border: 1px solid #e0aa16;
width: 20rem;
margin: 1rem;
padding: 1rem;
display: flex;
flex-wrap: wrap;
flex-direction:column;
align-items: center;

}

.ContenedorDetalleProducto{
    display: flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-items:flex-start;
    font-size: 10px !important;

}

.carProducto img{
    border-radius: 13px;
    width: 250px;
    margin: 0rem;
    padding: 1rem;
    object-fit: contain;
}

.carProducto button{
background-color: #0A1828;
color:#EAFF6A;
font-size: 1.2rem;
border-radius: 10px;
border: 1px solid #e0aa16;
padding: 10px,20px;
}

h3{
    padding: 0px;
    margin: 20 px;
    margin-left: 0;
    font-size: 35px;
  
     /* Borde de las letras */
     -webkit-text-stroke: 0.5px rgb(136, 131, 131); /* Ancho y color del borde */
     color: #c9a132; /* Color de la letra principal */
  
     /* Sombra */
     text-shadow: 25px 20px 20px #998065; /* Offset X, Y, Blur, Color */
     /* animation: flip 5s ease forwards; */
  
  
  
    /* Efecto de brillo dorado */
    animation: goldGlow 0s infinite alternate;
  }

  h5{
    padding: 0px;
    margin: 0px;
    margin-left: 0;
    font-size: 15px !important;
  
     color: #c9a132 !important; /* Color de la letra principal */
  
  }


  /* Responsive */
@media (max-width: 768px) {
    .carProducto {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center; /* Centra los items horizontalmente */
      justify-content: center; /* Centra los items verticalmente */
      height: 100vh; /* Ocupa toda la altura de la pantalla */
      text-align: center;
      width: 300px !important; /* Asegura que el contenedor ocupe todo el ancho de la pantalla */
      margin: 0 auto; /* Centra el contenedor horizontalmente */



    }

    .carProducto img{
        border-radius: 13px;
        width: 150px;
        margin: 0rem;
        padding: 1rem;
        object-fit: contain;
    }
  }