h1{
    padding: 0px;
    margin: 0px;
    margin-left: 0;

     /* Borde de las letras */
     -webkit-text-stroke: 1px rgb(0, 0, 0); /* Ancho y color del borde */
     color: rgb(172, 154, 0); /* Color de la letra principal */
 
     /* Sombra */
     text-shadow: 30px 30px 10px rgba(0, 0, 0, 0.5); /* Offset X, Y, Blur, Color */
    
}

h2{

    padding: 0px;
    margin: 0px;
    font-size: 35px;
    margin-left: 0;

     /* Borde de las letras */
     -webkit-text-stroke: 0.8px rgb(0, 0, 0); /* Ancho y color del borde */
     color: rgb(228, 228, 228); /* Color de la letra principal */
 
     /* Sombra */
     text-shadow: 30px 30px 10px rgba(0, 0, 0, 0.5); /* Offset X, Y, Blur, Color */
    

}


.Contenedor{

    margin-top: 7rem;
}

