.botonContador{
    background-color: #EAFF6A;
    color: black;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    padding: 10px,20px;
    margin: 10px;
    }

    .botonContador1{
        background-color:#EAFF6A;
        color: black;
        font-size: 0.8rem;
        border-radius: 7px;
        border: none;
        padding: 7px 10px;
        }